<p>
    contact works!
</p>

<form [formGroup]='contactForm' (ngSubmit)='onSubmit()'>
    <div formGroupName='personalData'>
        <input formControlName="email">
        <input formControlName="mobile">
        <select forControlName="country">
            <option *ngFor='let country of countries' [value]="country">
                {{country}}
            </option>
        </select>
    </div>

    <select fromControlName="requestType">
        <option *ngFor='let requestType of requestTypes' [value]="requestType">
            {{requestType}}
        </option>
    </select>

    <input fromControlName="text">

    <button type='submit'>
        Save
    </button>

    <button type="reset" (click)='revert()'>
        Revert
    </button>
</form>